
@{
    ViewBag.Title = "Education Support";
    ViewBag.MetaDescription = "To ensure Veterans receive the best possible care, VA supports its employees’ efforts to continually expand their knowledge and skills through higher education.";
}

<div class="container-fluid red-purple-gradient heroes-main heroes-main-benefits-education">
    <div class="container">
        <div class="col-xs-12 col-md-10 col-md-offset-1">
            <ul class="hidden-xs hidden-sm breadcrumb">
                <li>
                    <a href="/" title="Go back to VA Careers Home.">VA Careers</a>
                </li>
                <li>Benefits</li>
                <li>Education Support</li>
            </ul>

            <h2 class="text-uppercase">
                Education Support
            </h2>

            <hr class="underline underline-white" />
        </div>
    </div><!--/.container-->
</div><!--/.container-fluid-->
<!--END: Intro Hero-->

<nav id="subNav" class="container-fluid navbar navbar-sub subnav" data-toggle="affix">
    <div class="container">
        <div class="row">

            <div class="hidden-md hidden-lg hidden-xl sub-nav-go-to">
                <button class="navbar-toggler navbar-toggler-right collapsed" type="button" data-toggle="collapse" data-target="#navbarsSub" aria-controls="navbarsSub" aria-expanded="true" aria-label="Toggle navigation">
                    <span class="text">Go to</span>
                    <span class="glyphicon glyphicon-chevron-right glyphicon-remove"></span>
                </button>
            </div>

            <div class="navbar-collapse collapse" id="navbarsSub">
                <ul class="navbar-nav nav-fill">
                    <li class="hidden-xs hidden-sm nav-item navbar-text" aria-hidden="false">On this page:</li>
                    <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.in">
                        <a class="nav-link" href="#lifetimeoflearning" title="Go to Lifetime of Learning">Lifetime of Learning</a>
                    </li>
                    <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.in">
                        <a class="nav-link" href="#supportpaths" title="Go to Support Paths">Support Paths</a>
                    </li>
                </ul>
            </div>

        </div><!--/.row-->
    </div><!--/.container-->
</nav><!--/.container-fluid-->
<!--END: Sub Navigation-->

<div class="container" id="lifetimeoflearning">
    <div class="row">
        <div class="col-xs-12 col-md-6 content-box-padding">
            <div class="col-xs-12 col-md-8 col-md-offset-2">
                <h3 class="content-header text-uppercase">
                    Nonstop learning. Limitless growth.
                </h3>
            </div>

            <div class="col-xs-12 col-md-10">
                <hr class="underline underline-red" />
            </div>

            <div class="col-xs-12 col-md-8 col-md-offset-2">
                <p class="content-copy">
                    When it comes to delivering top-quality patient care, continuous learning is essential. That’s why
                    we stand behind our employees seeking higher education and provide comprehensive support to bring
                    their goals within&nbsp;reach.
                </p>
            </div>
        </div>

        <div class="col-xs-12 col-md-6 yellow-green-gradient heroes-minor">
            <img src="~/Content/Images/heroes-minor-benefits-education.png" alt="" />
        </div>
    </div><!--/.row-->
</div><!--.containter-->
<!--END: Reliable Coverage-->

<div class="container-fluid container-border">
    <div class="container tabs" id="supportpaths">
        <div class="row">

            <div class="col-xs-12 col-md-4 tab-topics">
                <div class="col-xs-12 col-md-8 col-md-offset-3 content-box-padding">
                    <h3 class="content-header text-uppercase text-white tab-topic-header">
                        Help to Pursue New&nbsp;Heights
                    </h3>

                    <p class="content-copy text-white">
                        As a VA employee, you gain access to an extensive array of educational incentives, scholarships
                        and loan repayment programs that keep you at the top of your game. Explore the following
                        rundown of one of the most comprehensive education support programs in the&nbsp;nation.
                    </p>
                </div>

                <div class="col-xs-12 tab-topic-list-wrapper">
                    <ul class="tab-topic-list">
                        <li>
                            <a href="#education" class="tab-topic-list-link active" aria-selected="true" id="tab-content-1">
                                <span>Education</span>
                            </a>
                        </li>
                        <li>
                            <a href="#scholarships" class="tab-topic-list-link" aria-selected="false" id="tab-content-2">
                                <span>Scholarships</span>
                            </a>
                        </li>
                        <li>
                            <a href="#repay" class="tab-topic-list-link" aria-selected="false" id="tab-content-3">
                                <span>Repayment and Reimbursement</span>
                            </a>
							<a href="#VHVMASP" class="tab-topic-list-link" aria-selected="false" id="tab-content-4">
                                <span>VHVMASP</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="hidden-sm hidden-xs col-md-8 tab-contents">

                <div class="col-sm-12 tab-content active" id="education" aria-hidden="false" aria-labelledby="tab-content-1">
                    <div class="hidden-xs hidden-sm col-md-10 col-md-offset-1">
                        <h4 class="tab-content-heading text-uppercase h3">
                            Education
                        </h4>
                    </div>

                    <div class="hidden-xs hidden-sm col-md-11">
                        <hr />
                    </div>

                    <div class="col-xs-12 col-md-10 col-md-offset-1">

                        <div class="bs-example">
                            <div class="panel-group" id="accordion-1">

                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordion-1" href="#accordionCollapse-1" aria-expanded="true">
                                                Employee Education System&nbsp;(EES)
                                            </a>
                                        </h4>
                                    </div>

                                    <div id="accordionCollapse-1" class="panel-collapse collapse in">
                                        <div class="panel-body">
                                            <p class="content-copy">
                                                The Veterans Health Administration (VHA) Employee Education System (EES) partners with VA, VHA program offices and Veterans Integrated Service Networks (VISN) to provide quality workforce education and training to improve outcomes in Veteran clinical care, health care operations and administration. EES also offers accredited courses and programs, in association with 17 national and two state accrediting bodies. Contact your VA employment representative for more information.
                                            </p>
                                        </div>
                                    </div>
                                </div><!--/Employee Education System (EES) // Panel 1 (1 overall)-->

                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordion-1" href="#accordionCollapse-2" aria-expanded="false" class="collapsed">
                                                Leadership Education
                                            </a>
                                        </h4>
                                    </div>

                                    <div id="accordionCollapse-2" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <p class="content-copy">
                                                VA offers ongoing leadership development through every level of employment, including mandatory programs to competitive opportunities. All leadership programs are based on the High Performance Development Model (HPDM), which aligns the organization around a set of eight core competencies that are used to develop training, select new employees and serve as a basis for reward and recognition.
                                            </p>
                                            <p class="content-copy">
                                                HPDM facilitates career development through continuous learning, coaching/mentoring and assessment over a career span. Progression from one tier to another in the model is based upon successfully competing for promotions using a performance-based interview system that evaluates demonstrated success in core competencies.
                                            </p>
                                        </div>
                                    </div>
                                </div><!--/Leadership Education // Panel 2 (2 overall)-->

                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordion-1" href="#accordionCollapse-3" aria-expanded="false" class="collapsed">
                                                VA Knowledge Network
                                            </a>
                                        </h4>
                                    </div>

                                    <div id="accordionCollapse-3" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <p class="content-copy">
                                                VA Knowledge Network, a state-of-the-art digital satellite system, delivers learning and performance improvement opportunities wherever you are. Programming is offered on four channels, 24&nbsp;hours a day, seven days a&nbsp;week.
                                            </p>
                                        </div>
                                    </div>
                                </div><!--/VA Knowledge Network // Panel 3 (3 overall)-->

                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordion-1" href="#accordionCollapse-4" aria-expanded="false" class="collapsed">
                                                VA Talent Management System (VA&nbsp;TMS)
                                            </a>
                                        </h4>
                                    </div>

                                    <div id="accordionCollapse-4" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <p class="content-copy">
                                                VA TMS is a web-based portal through which VA staff can manage their continuing education and maintain a single, official training record. The site offers direct, convenient access to thousands of VA’s learning activities, including instructor-led, satellite and web-based training, books and other instructional products. Online courses and VA-required training can be accessed directly from VA TMS, and completed courses are automatically recorded in each employee’s official training record.
                                            </p>
                                        </div>
                                    </div>
                                </div><!--/VA Learning Management System (VA LMS) // Panel 4 (4 overall)-->

                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordion-1" href="#accordionCollapse-5" aria-expanded="false" class="collapsed">
                                                VA Learning Opportunities Residency (VALOR)
                                            </a>
                                        </h4>
                                    </div>

                                    <div id="accordionCollapse-5" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <p class="content-copy">
                                                VALOR allows nursing, pharmacy and medical technology students (who have completed their junior year in an accredited clinical program) to gain experience at a local VA facility. Contact the education department at your local VA medical center for more information or learn more by downloading our flyers: <a href="~/Content/Documents/Print/VHA_MedTech_1022_ExternalFlyer_508c.pdf" target="_blank" title="[PDF] Learn more about our Valor Program (282 KB)">VALOR&nbsp;Medical&nbsp;Technologist</a>, <a href="~/Content/Documents/Print/VHA_Nurses_1022_ExternalFlyer_508c.pdf" target="_blank" title="[PDF] Learn more about our Valor Program (282 KB)">VALOR&nbsp;Nurse&nbsp</a>, <a href="~/Content/Documents/Print/VHA_Pharmacy_External1022_Flyer_508c.pdf" target="_blank" title="[PDF] Learn more about our Valor Program (282 KB)">VALOR&nbsp;Pharmacist&nbsp</a>.
                                            </p>
                                        </div>
                                    </div>
                                </div><!--/VA Learning Opportunities Residency (VALOR) // Panel 5 (5 overall)-->
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordion-1" href="#accordionCollapse-7" aria-expanded="false" class="collapsed">
                                                Colleges and Universities
                                            </a>
                                        </h4>
                                    </div>

                                    <div id="accordionCollapse-7" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <p class="content-copy">
                                                VA will often pay for full- or part-time college studies. As a VA employee, you can sign up for general or specialized course work from a wide variety of nearby colleges and universities. You may also choose to broaden your work experience through temporary assignments to other agencies.
                                            </p>
                                        </div>
                                    </div>
                                </div><!--/Colleges and Universities // Panel 7 (7 overall)-->

                            </div>
                        </div>

                    </div>
                </div><!--/Education // support 1-->

                <div class="col-sm-12 tab-content" id="scholarships" aria-hidden="true" aria-labelledby="tab-content-2">
                    <div class="hidden-xs hidden-sm col-md-10 col-md-offset-1">
                        <h4 class="tab-content-heading text-uppercase h3">
                            Scholarships
                        </h4>
                    </div>

                    <div class="hidden-xs hidden-sm col-md-11">
                        <hr />
                    </div>

                    <div class="col-xs-12 col-md-10 col-md-offset-1">

                        <div class="bs-example">
                            <div class="panel-group" id="accordion-2">

                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordion-2" href="#accordionCollapse-8" aria-expanded="false">
                                                Employee Incentive Scholarship Program (EISP)
                                            </a>
                                        </h4>
                                    </div>

                                    <div id="accordionCollapse-8" class="panel-collapse collapse in">
                                        <div class="panel-body">
                                            <p class="content-copy">
                                               Serve and care for the nation’s Veterans and continue your healthcare education with a scholarship through the VA Employee Incentive Scholarship Program.  <a href="~/Content/Documents/Print/eisp_vha_flyer_external.pdf" target="_blank" title="[PDF] Learn more about our Employee Incentive Scholarship Program (282 KB)">Learn&nbsp;more</a>
                                            </p>
                                        </div>
                                    </div>
                                </div><!--/Employee Incentive Scholarship Program (EISP) // Panel 1 (8 overall) -->

                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordion-2" href="#accordionCollapse-9" aria-expanded="false" class="collapsed">
                                                Health Professional Scholarship Program (HPSP)
                                            </a>
                                        </h4>
                                    </div>

                                    <div id="accordionCollapse-9" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <p class="content-copy">
                                                HPSP awards scholarships to students receiving education/training in a health care services discipline. Awards will be offered on a competitive basis and are exempt from Federal taxation. In exchange for the award, scholarship program participants agree to a service obligation in a VA health care facility. <a href="~/Content/Documents/Print/VACareers_HPSP_Info_12_2019.pdf" target="_blank" title="[PDF] Learn More about our Health Professional Scholarship Program (115 KB).">Learn&nbsp;more</a>
                                            </p>
											<h4 class="content-copy text-uppercase">
                                                <strong>2020 Application Period</strong>
                                            </h4>
											<p class="content-copy">
											The 2020 Application Cycle is expected to begin in February 2020. (Please check back after 1/1/2020 for further updates).
											</p>
                                        </div>
                                    </div>
                                </div><!--/Health Professional Scholarship Program (HPSP) // Panel 2 (9 overall)-->

                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordion-2" href="#accordionCollapse-10" aria-expanded="false" class="collapsed">
                                                National Nursing Education Initiative (NNEI)
                                            </a>
                                        </h4>
                                    </div>

                                    <div id="accordionCollapse-10" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <p class="content-copy">
                                               Accelerate your nursing career training while serving the nation’s Veterans by applying for financial assistance through the VA National Nursing Education Initiative. <a href="~/Content/Documents/Print/nnei_vha_flyer_external_508.pdf" target="_blank" title="[PDF] Learn more about our National Nursing Education Initiative (290 KB)">Learn&nbsp;more</a>
                                            </p>
                                        </div>
                                    </div>
                                </div><!--/National Nursing Education Initiative (NNEI) // Panel 3 (10 overall)-->

                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordion-2" href="#accordionCollapse-11" aria-expanded="false" class="collapsed">
                                                VA National Education for Employees Program&nbsp;(VANEEP)
                                            </a>
                                        </h4>
                                    </div>

                                    <div id="accordionCollapse-11" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <p class="content-copy">
                                                Choose a career that lets you stay on firm financial footing as you pursue first-time clinical licensure through the VA National Education for Employees Program. <a href="~/Content/Documents/Print/vaneep_vha_flyer_external_v2.pdf" target="_blank" title="[PDF] Learn more about our VA National Education for Employees Program (291 KB).">Learn&nbsp;more</a>
                                            </p>
                                        </div>
                                    </div>
                                </div><!--/VA National Education for Employees Program (VANEEP) // Panel 4 (11 overall)-->

                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordion-2" href="#accordionCollapse-12" aria-expanded="false" class="collapsed">
                                                Visual Impairment and Orientation and Mobility Professionals Scholarship Program&nbsp;(VIOMPSP)
                                            </a>
                                        </h4>
                                    </div>

                                    <div id="accordionCollapse-12" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <p class="content-copy">
                                                VIOMPSP awards scholarships to students seeking a degree or certificate in visual impairment or orientation and mobility. Awards are offered on a competitive basis, provide for the payment of tuition and required fees, and are exempt from Federal taxation. In exchange for the award, scholarship program participants agree to a 3-year service obligation in a VA health care facility. <a href="~/Content/Documents/Print/VACareers_VIOMPSP_Info_12_2019.pdf" target="_blank" title="[PDF] Learn more about our Visual Impairment and Orientation and Mobility Professionals Scholarship Program (375 KB).">Learn&nbsp;more</a>
                                            </p>

                                            <h4 class="content-copy text-uppercase">
                                                2020 Application Period
                                            </h4>
											<p class="content-copy">
											The 2020 Application Cycle is expected to begin in February 2020. (Please check back after 1/1/2020 for further updates).
                                            </p>
                                        </div>
                                    </div>
                                </div><!--/Visual Impairment and Orientation and Mobility Professionals Scholarship Program (VIOMPSP) // Panel 5 (12 overall)-->

                            </div>
                        </div>

                    </div>
                </div><!--/Scholarships // support 2-->

                <div class="col-sm-12 tab-content" id="repay" aria-hidden="true" aria-labelledby="tab-content-3">
                    <div class="hidden-xs hidden-sm col-md-10 col-md-offset-1">
                        <h4 class="tab-content-heading text-uppercase h3">
                            Repayment and Reimbursement
                        </h4>
                    </div>

                    <div class="hidden-xs hidden-sm col-md-11">
                        <hr />
                    </div>

                    <div class="col-xs-12 col-md-10 col-md-offset-1">

                        <div class="bs-example">
                            <div class="panel-group" id="accordion-3">

                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordion-3" href="#accordionCollapse-13" aria-expanded="false">
                                                Education Debt Reduction Program&nbsp
                                            </a>
                                        </h4>
                                    </div>

                                    <div id="accordionCollapse-13" class="panel-collapse collapse in">
                                        <div class="panel-body">
                                            <p class="content-copy">
                                                Choose a healthcare career providing top-notch care to America’s Veterans and receive student loan repayment of up to $200,000 through VA's Education Debt Reduction Program. <a href="~/Content/Documents/Print/edrp_va_vha_flyer_FINAL.pdf" target="_blank" title="[PDF] Learn more about our Education Debt Reduction Program (247 KB).">Learn&nbsp;more</a>
                                            </p>
                                        </div>
                                    </div>
                                </div><!--/Education Debt Reduction Program// Panel 1 (13 overall) -->

                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordion-3" href="#accordionCollapse-14" aria-expanded="false" class="collapsed">
                                                Public Service Loan Forgiveness Program
                                            </a>
                                        </h4>
                                    </div>

                                    <div id="accordionCollapse-14" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <p class="content-copy">
                                                Because VA is a Federal Government entity, VA employees with Federal student loans may be eligible for this national loan forgiveness program. Read the Public Service Loan Forgiveness <a href="~/Content/Documents/Print/LoanForgivenessv4.pdf" target="_blank" title="[PDF] Loan Forgiveness for Public Service Employees Fact Sheet, Federal Student Aid (78 KB).">Fact&nbsp;Sheet</a> and visit the program&rsquo;s <a href="http://studentaid.ed.gov/repay-loans/forgiveness-cancellation/charts/public-service" target="_blank" title="[EXTERNAL LINK] Go to Public Service Loan Forgiveness, Federal Student Aid, an office of the U.S. Department of Education.">website</a> for more information.
                                            </p>
                                        </div>
                                    </div>
                                </div><!--/Public Service Loan Forgiveness Program // Panel 2 (14 overall)-->

                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordion-3" href="#accordionCollapse-15" aria-expanded="false" class="collapsed">
                                                Student Loan Repayment Program&nbsp;(SLRP)
                                            </a>
                                        </h4>
                                    </div>

                                    <div id="accordionCollapse-15" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <p class="content-copy">
                                                Through the SLRP, employees in certain occupations may be eligible to receive up to $10,000 per year (with a lifetime maximum of $60,000) to help repay student loans. Request more information on the availability of the SLRP when submitting your employment application.
                                            </p>
                                        </div>
                                    </div>
                                </div><!--/Student Loan Repayment Program (SLRP) // Panel 3 (15 overall)-->

                            </div>
                        </div>

                    </div>
                </div><!--/Repayment and Reimbursement // support 3-->
				<div class="col-sm-12 tab-content" id="VHVMASP" aria-hidden="true" aria-labelledby="tab-content-4">
                    <div class="hidden-xs hidden-sm col-md-10 col-md-offset-1">
                        <h4 class="tab-content-heading text-uppercase h3">
                            VHVMASP
                        </h4>
                    </div>

                    <div class="hidden-xs hidden-sm col-md-11">
                        <hr />
                    </div>

                    <div class="col-xs-12 col-md-10 col-md-offset-1">

                        <div class="bs-example">
                            <div class="panel-group" id="accordion-4">

                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordion-4" href="#accordionCollapse-16" aria-expanded="false">
                                                Veterans Affairs (VA) MISSION Act of 2018
                                            </a>
                                        </h4>
                                    </div>

                                    <div id="accordionCollapse-16" class="panel-collapse collapse in">
                                        <div class="panel-body">
                                            <p class="content-copy">
                                              Veterans can give back while getting back by choosing a medical career at the U.S. Department of Veterans Affairs (VA). Financial support is available in exchange for post-residency service at VA under three scholarship programs authorized or enhanced by the MISSION Act of 2018: Veterans Healing Veterans Medical Access and Scholarship Program, Health Professions Scholarship Program and Specialty Education Loan Repayment Program. Discover how to care for fellow Veterans and cut medical education costs.   <a class="content-links" href="~/Content/Documents/Print/vhvmasp_flyer-vha-r3.pdf" target="_blank" title="Learn More">
                                    Learn More 
                                </a>
                                            </p>
                                        </div>
                                    </div>
                                </div><!--/Mission Act // Panel 1 (14 overall) -->

                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordion-4" href="#accordionCollapse-17" aria-expanded="false" class="collapsed">
                                                How does the VHVMASP help me become a physician?
                                            </a>
                                        </h4>
                                    </div>

                                    <div id="accordionCollapse-17" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <p class="content-copy">
                                                This program requires nine schools to select the two highest ranking veteran applicants for the entering class of 2020.  The medical schools included in this program are Texas A & M College of Medicine, the University of South Carolina College of Medicine, the Boonshoft School of Medicine at Wright State University, the Edwards School of Medicine at Marshall University, the Quillen College of Medicine at East Tennessee State University, Howard University School of Medicine, Meharry Medical College, Drew University of Medicine and Science, and Morehouse School of Medicine.  The program provides financial support for tuition, books and equipment, fees, two away rotations at a VA facility during the senior year, and a monthly stipend.
                                            </p>
                                        </div>
                                    </div>
                                </div><!--/Becvome a Physician // Panel 2 (15 overall)-->

                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordion-4" href="#accordionCollapse-18" aria-expanded="false" class="collapsed">
                                                How can I qualify for VHVMASP?
                                            </a>
                                        </h4>
                                    </div>

                                    <div id="accordionCollapse-18" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <p class="content-copy">
                                              <h4 class="content-copy text-uppercase">
                                                <strong>To apply for the program, you must meet these conditions:</strong>
                                            </h4>

                                            <ul class="content-list">
                                                <li>You must apply for, and be admitted to the entering class of 2020 at one or more of the nine named schools.</li>
                                                <li>The duration between your application to medical school (AMCAS application) and your date of separation cannot be more than ten years.</li>
												<li>You can’t receive GI Bill or Vocational Rehabilitation funding at the same time you receive scholarship funding.</li>
												<li>You must indicate on your school application that you wish to participate in the program.</li>
												<li>You must agree to the obligations of the program.</li>
                                            </ul>
                                            </p>
                                        </div>
                                    </div>
                                </div><!--/Student Loan Repayment Program (SLRP) // Panel 3 (18 overall)-->
								<div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordion-4" href="#accordionCollapse-19" aria-expanded="false" class="collapsed">
                                                What are my obligations for this program?
                                            </a>
                                        </h4>
                                    </div>

                                    <div id="accordionCollapse-19" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <p class="content-copy">
                                                <h4 class="content-copy text-uppercase">
                                                <strong>To meet the requirements of the scholarship you have to:</strong>
                                            </h4>

                                            <ul class="content-list">
                                                <li>Stay enrolled at the medical school.</li>
                                                <li>Maintain acceptable academic standing and progress leading to graduation.</li>
												<li>Complete residency training in a specialty that is applicable to VA (for example, pediatrics alone would not be acceptable) and become board-eligible in your specialty.</li>
												<li>Be licensed in any state.</li>
												<li>Become a full-time clinical provider at a VA facility for four years (12 months per year of support).</li>
                                            </ul>
                                            </p>
                                        </div>
                                    </div>
                                </div><!--/Becvome a Physician // Panel 4 (19 overall)-->
								<div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordion-4" href="#accordionCollapse-20" aria-expanded="false" class="collapsed">
                                                What is the HPSP and how can it help me?
                                            </a>
                                        </h4>
                                    </div>

                                    <div id="accordionCollapse-20" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <p class="content-copy">
                                                The VA Health Professions Scholarship Program (HPSP) gives financial help for health professions students. The MISSION Act required that the HPSP give at least 50 scholarships annually for medical or dental students.  The program covers the cost of tuition, books and equipment, fees, and provides a monthly stipend.  VA may give preference to Veteran applicants for these scholarships.  You may receive from two to four years of medical school financial support through this program.
                                            </p>
                                        </div>
                                    </div>
                                </div><!--/Becvome a Physician // Panel 5 (20 overall)-->
								<div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordion-4" href="#accordionCollapse-21" aria-expanded="false" class="collapsed">
                                                What are my obligations for this program?
                                            </a>
                                        </h4>
                                    </div>

                                    <div id="accordionCollapse-21" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <p class="content-copy">
                                                The obligations for the HPSP are similar to those of the VHVMASP.  The HPSP requires 18 months of service at a VA facility for each year of support.
                                            </p>
                                        </div>
                                    </div>
									</div><!--/Becvome a Physician // Panel 5 (21 overall)-->
									<div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordion-4" href="#accordionCollapse-22" aria-expanded="false" class="collapsed">
                                                What is the SELRP and how can it help me?
                                            </a>
                                        </h4>
                                    </div>

                                    <div id="accordionCollapse-22" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <p class="content-copy">
                                                The Specialty Education Loan Repayment Program (SELRP) is a loan repayment program targeted towards physician residents.  Its purpose is to provide VA with needed medical specialists in geographic areas and VA facilities where VA needs those specialists.  Applicants can apply right after the residency match or up to two years before completion of the residency.  The program can repay up to $160,000 of education loans total; each year of service at a VA facility qualifies for $40,000 in loan repayment, with a minimum of two years of service required.  VA may give preference to Veteran program applicants.
                                            </p>
                                        </div>
                                    </div>
									</div><!--/Becvome a Physician // Panel 5 (22 overall)-->
									<div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordion-4" href="#accordionCollapse-23" aria-expanded="false" class="collapsed">
                                                What are the requirements for SLERP?
                                            </a>
                                        </h4>
                                    </div>

                                    <div id="accordionCollapse-23" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <p class="content-copy">
                                                The SELRP requires that the recipient successfully complete residency leading up to board eligibility in a specialty applicable to VA (e.g. not pediatrics), obtain a license to practice in any state, and agree to serve in VA for the required number of years and at the location specified by VA. 
                                            </p>
                                        </div>
                                    </div>
									</div><!--/Becvome a Physician // Panel 5 (23 overall)-->
									<div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordion-4" href="#accordionCollapse-24" aria-expanded="false" class="collapsed">
                                                What if I want to do a fellowship?  Can I delay my service requirement?
                                            </a>
                                        </h4>
                                    </div>

                                    <div id="accordionCollapse-24" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <p class="content-copy">
                                                VA may postpone the service requirement until the completion of the fellowship in specialties applicable to VA.  Requests will be reviewed on an individual basis and granted based on the needs of VA.
                                            </p>
                                        </div>
                                    </div>
									</div><!--/Becvome a Physician // Panel 5 (24 overall)-->
									<div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordion-4" href="#accordionCollapse-25" aria-expanded="false" class="collapsed">
                                                For these programs where will I be assigned for clinical service?
                                            </a>
                                        </h4>
                                    </div>

                                    <div id="accordionCollapse-25" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <p class="content-copy">
                                                While VA will take a recipient’s preference into consideration for clinical service, assignments will be determined primarily based on the healthcare needs of Veterans at specific locations.
                                            </p>
                                        </div>
                                    </div>
									</div><!--/Becvome a Physician // Panel 5 (25 overall)-->
									<div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordion-4" href="#accordionCollapse-26" aria-expanded="false" class="collapsed">
                                               Where else can I find information about VA financial aid programs?
                                            </a>
                                        </h4>
                                    </div>

                                    <div id="accordionCollapse-26" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <p class="content-copy">
                                                You can find more information about these programs from the VHA’s Office of Workforce Management and Consulting. 
                                            </p>
                                        </div>
                                    </div>
									</div><!--/Becvome a Physician // Panel 5 (26 overall)-->
                            </div>
                        </div>

                    </div>
                </div><!--/Repayment and Reimbursement // support 3-->
            </div>

        </div><!--/.row-->
    </div><!--/.container-->
</div><!--/.container-fluid-->
<!--END: Support Paths-->
